[data-v-3fbb0db8]:
   export
   {zIndex-navbar:100;
   zIndex-dropdown:100;
   zIndex-sticky:200;
   zIndex-navbar-fixed:300;
   zIndex-overlay:400;
   zIndex-dialog:500;
   zIndex-popover:600;
   zIndex-tooltip:1000}
   [data-v-3fbb0db8] .
   loading-dots__wrapper .
   loading-dots__dot{background-color:#fff}.
   loading-state[data-v-3fbb0db8]
   {height:100%;
   display:flex;
   justify-content:center;
   align-items:center}.
   loading-state>
   svg[data-v-3fbb0db8]
   {margin:0!important}
