:root{--gray-08:
  hsla(0,0%,100%,0.85);
  --gray-06:hsla(0,0%,100%,0.6);
  --gray-04:hsla(0,0%,100%,0.4);
  --gray-03:hsla(0,0%,100%,0.3);
  --gray-02:hsla(0,0%,100%,0.1);
  --gray-01:#343947;
  --primary-white:#252733;
  --primary-white-gradient:
    linear-gradient(180deg,#252733,rgba(37,39,51,0));
  --primary-black:hsla(0,0%,100%,0.9);
  --primary-red:#f64c4c;
  --primary-tap-blue:#15c5ce;
  --primary-tap-blue-gradient:linear-gradient(180deg,#18d6e0,#14c2cb 67.19%,#17d6e1);
  --primary-tap-blue-light:#233f4a;
  --primary-tap-orange:#ff8156;
  --primary-tap-orange-gradient:linear-gradient(180deg,#ff9c6b,#ff7752);
  --primary-tap-orange-light:#463538;
  --extension-divider-gray:hsla(0,0%,100%,0.08);
  --extension-overlay-black:hsla(0,0%,100%,0.06);
  --extension-background-gray:#2d303b;
  --extension-button-label-white:#fff;
  --extension-components-black:rgba(0,0,0,0.4);
  --extension-shadow-background-white:#404552;
  --extension-components-border-gray:hsla(0,0%,100%,0.45);
  --extension-purple:#8a73ff;
  --extension-purple-light:rgba(138,115,255,0.1);
  --extension-magenta:#c6f;
  --extension-magenta-light:rgba(204,102,255,0.1);
  --extension-coral:#f66;
  --extension-coral-light:hsla(0,100%,70%,0.1);
  --extension-orange:#ff794d;
  --extension-orange-light:rgba(255,121,77,0.1);
  --extension-blue:#1ab2ff;
  --extension-blue-light:rgba(26,178,255,0.1);
  --extension-mazarine:#5991ff;
  --extension-mazarine-light:rgba(89,145,255,0.1);
  --extension-pink:#f261c2;
  --extension-pink-light:rgba(242,97,194,0.1);
  --extension-yellow:#fa0;
  --extension-yellow-light:rgba(255,170,0,0.1);
  --extension-lime:#3dcc49;
  --extension-lime-light:rgba(61,204,73,0.1);
  --extension-green:#8c0;
  --extension-green-light:rgba(136,204,0,0.1);
  --extension-toast-black:rgba(52,57,71,0.96);
  --gray-01-hover:#404552;
  --gray-02-hover:hsla(0,0%,100%,0.16);
  --gray-03-hover:hsla(0,0%,100%,0.36);
  --gray-04-hover:hsla(0,0%,100%,0.46);
  --gray-06-hover:hsla(0,0%,100%,0.66);
  --gray-08-hover:hsla(0,0%,100%,0.91);
  --primary-white-hover:#32343f;
  --primary-tap-blue-hover:#31ccd4;
  --primary-tap-blue-light-hover:#304b55;
  --primary-tap-orange-hover:#ff8960;
  --primary-tap-orange-light-hover:#514144;
  --primary-red-hover:#f75757;
  --extension-overlay-black-hover:rgba(0,0,0,0.06);
  --extension-components-black-hover:rgba(29,33,39,0.4);
  --extension-background-gray-hover:#3a3c47;
  --extension-shadow-background-white-hover:#4b505c}
